/nbproject/private/
/IBWBLibs/build/
/IBFbDomain/build/
/build/
/IBWBProvider/build/
/IBWBDomain/build/
/IBFbQueryReadCenter/build/
/IBWBApi/build/
/IBFbFilters/build/
/IBFbHelp/build/
/IBFbProperties/build/
/IBFbStudyExplorerUtil/build/
/IBWBCommonGui/build/
/IBFbMaize/build/
/IBFbSettings/build/
/IBFbR/build/
/IBFbDatabase/build/
/IBFbTraits/build/
/IBFbWorkbook/build/
/IBFbLists/build/
/IBFbStudyEditor/build/
/IBFbInventory/build/
/IBFbNursery/build/
/IBFbUI/build/
/IBFbToolbar/build/
/IBFbStudyExplorer/build/
/IBFbGermplasmList/build/
/IBFbBranding/build/
/IBFbScripts/build/
/IBFbStudyEditor/nbproject/private/
/IBFbScripts/nbproject/private/
/IBWBProvider/nbproject/private/
/IBFbNursery/nbproject/private/
/IBFbDomain/nbproject/private/
IBFbBlueTooth/build.xml
/dist/